html {
  scroll-behavior: smooth;
}


[data-theme="light"] {
  background-color: #FBF8EF;
  color: black;
}

[data-theme="dark"] {
  background-color: #021526;
  color: white;
}


/* Light mode: dark text, Dark mode: light text */
.nav{
  color:#FBF8EF ;
}
 
/* Header Component  css */

.Header{
  
  margin-bottom: 100px;

}

.nav{
  text-decoration: none;
}

.d-block{
 width: 80%;
  margin: 0 auto;
 height: 500px;
}


/*gif css */


/* <Features /> Component css */

.Features{
  margin-top: 150px;
}